<app-navigation [Header]="dataitems.HeaderList">
</app-navigation>
<app-slid-show [M_heading]="dataitems.MainContent" [S_heading]="dataitems.SubContent">
</app-slid-show>
<div class="Main_heading">
  <h2 align="center">{{title}}</h2>
  <div class="prod">
    <app-products *ngFor="let x of F_titles;let y=index" [Product_titles]="x" [Product_desc]="desc[y]"
      [Product_img]="images[y]"></app-products>

    <!-- <app-products></app-products>
<app-products></app-products>
<app-products></app-products> -->
  </div>
</div>
<app-footer></app-footer>