*
{
    font-family: Arial, Helvetica, sans-serif;
    
}
.part2
{
    height:315px;
    position: static;
    /* border:2px solid red; */
    /* background: rgba(24, 161, 29, 0.491); */
    background-image: url("http://localhost/green.jpg");
    /* opacity:0.5; */
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y:-290px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(85, 221, 126, 0.744), rgba(28, 231, 38, 0.598)), url('http://localhost/img3.jpg');
}
.headings
{
    width:80%;
    margin: auto;
    padding-top:6%;
    font-weight:bolder;
    /* border:2px solid red; */

}
.subHeading
{
    width:50%;
    font-size: larger;
    margin: auto;
    padding:2% 0%;
    font-weight:bolder;
    /* border:2px solid red; */

}
.learn
{
    text-align: center;
    padding:5% 0%;
}
input
{
    width:30%;
    height:40px;
    font-weight: bold;
}