<div class="part1">
    <div class="heading">
        <fa-icon [icon]="iconHeart" style="color:#32d277"></fa-icon>
        Flat Theme
    </div>
    <div class="heading">
        <ul>
            <li><a href=""></a>Home</li>
            <li><a href=""></a>About Us</li>
            <li><a href=""></a>Services</li>
            <li><a href=""></a>Protofolio</li>
            <li><a href=""></a>Pages</li>
            <li><a href=""></a>Blog</li>
            <li><a href=""></a>Contact</li>
        </ul>
    </div>
</div>
