*
{
    font-family: Arial, Helvetica, sans-serif;
}
.product
{
    width:100%;  
    /* width:300px; */  /*non responsive width*/
    padding:6%;
    height:280px;
}
h3{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
img{
    width:80px;
    height:80px;
    display: block;
    border-radius: 100%;
    border:2px solid green;
    margin: auto;
}
.images
{
    width:100px;
    height:100px;
    border:2px solid green;
    border-radius: 100%;
    margin: auto;
    padding-top:3%;
    background-color: green;
}
p{text-align: center;}
