<div mat-dialog-title>
    <h1 align="center">Patient Registration</h1>
</div>
<form [formGroup]="patientForm" (submit)="OnFormRegister()">
<div mat-dialog-content class="content">
    <!-- <mat-label ><b>Name</b></mat-label> -->
    <div class="row">
        <mat-form-field appearance="outline" class="mats">
            <mat-label>First Name</mat-label>
            <input matInput  type="text" formControlName="firstname">
          </mat-form-field>
          <mat-form-field appearance="outline" class="mats">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastname">
          </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field appearance="outline" class="mats">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mats">
        <mat-label>Age</mat-label>
        <input matInput type="number" formControlName="age">
      </mat-form-field><br>
      <span class="spanErr" *ngIf='patientForm.controls.age.hasError("pattern")'>Incorrect Age</span>
</div>
<div class="row">
    <mat-radio-group formControlName="gender">
        <mat-label ><b>Gender</b></mat-label>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
        <mat-radio-button value="Others">Others</mat-radio-button>
      </mat-radio-group>
</div>

<!-- <mat-label ><b>Address</b></mat-label> -->
<div class="row">
    <mat-form-field appearance="outline" class="mats">
        <mat-label>City</mat-label>
        <input matInput  type="text" formControlName="city">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mats">
        <mat-label>State</mat-label>
        <input matInput type="text" formControlName="state">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mats">
        <mat-label>Pincode</mat-label>
        <input matInput type="number" formControlName="pincode">
      </mat-form-field>
</div>
<div class="row">
    <mat-form-field appearance="outline" class="mats">
        <mat-label>Contact</mat-label>
        <input matInput  type="text" formControlName="contact">
      </mat-form-field>
      <span class="spanErr" *ngIf='patientForm.controls.contact.hasError("pattern")'>Incorrect</span>

      <mat-form-field appearance="outline" class="mats">
        <mat-label>Emergency Contact</mat-label>
        <input matInput type="text" formControlName="emg_contact">
      </mat-form-field>
      <span class="spanErr" *ngIf='patientForm.controls.emg_contact.hasError("pattern")'>Incorrect</span>

</div>
<div class="row">
    <mat-form-field appearance="outline" class="mats">
        <mat-label>Height</mat-label>
        <input matInput  type="number" formControlName="height">
        <mat-hint>in centimetre</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mats">
        <mat-label>Weight</mat-label>
        <input matInput type="number" formControlName="weight">
        <mat-hint>in kilogram</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mats">
        <mat-label>Blood Group</mat-label>
        <mat-select formControlName="blood_group">
          <mat-option *ngFor="let value of bld_group" [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline" class="mats">
    <mat-label>Choose A Appointment</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="appoint">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false" class="actions">Cancel</button>
    <button mat-raised-button type="submit" color="primary" class="actions" [disabled]="!patientForm.valid">Register</button>
</div>
</form>